---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.paper-showcase {
  display: flex;
  align-items: flex-start; /* Align items to the top */

}

.paper-image {
  margin-right: 50px;
  max-width: 150px;
}

.paper-details {
  max-width: 600px;
}

.paper-links a {
  text-decoration: none;
  color: #106dd1;
}

.paper-links a:hover {
  text-decoration: underline;
}

.paper-authors span {
  margin-right: 10px;
}

hr.subtle-line {
  border: none;               /* Remove the default border */
  height: 1px;                /* Set the height to 1px for a thin line */
  background-color: #e0e0e0;  /* Use a very light gray color */
  margin: 20px 0;             /* Add vertical spacing */
  opacity: 0.7;               /* Make the line slightly transparent */
}
